*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}
nav {
    padding: 3%;
    margin-bottom: .3rem;
}
nav .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
nav .logo h3 {
    font-size: 2rem;
    padding-top: .6rem;
    margin-left: -0.5rem;
}
.error-div {
    /* align-items: center;
    justify-content: center; */
    display: none;
    text-align: center;
    margin: auto;
}
.error {
    color: red;
    /* border: .1rem red solid; */
    /* padding: 10px; */
    /* width: fit-content; */
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    background: #ccc;
    margin-top: 2rem;
    padding: 2rem;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
}
form  input {
   height: 30px;
   width: 300px;
   border-radius: 5px;
   border: none;
   padding: 1rem 0.5rem;
   margin: 0.5rem 0;
   font-size: 16px;
}
form button {
    margin-top: .5rem;
    padding: .4rem 1rem;
    background: #0275d8;
    font-size:  1.5rem;
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
}
.display {
    display: none;
    text-align: center;
    color: red;
    padding: 50px;
}

@media screen and (max-width: 950px) {
  
}
@media screen and (max-width: 650px) {

}

@media screen and (max-width: 480px) {
    form {
        padding: 20px;
    }
}
